<div class="row">
    <div class="page-header">
        <h1>
            <!--{{pageTitle}}-->
             title goes here
             </h1>
    </div>
</div>




<div class="row">
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th>ID Number</th>
                    <th>State</th>
                    <th>Version</th>
                    <th>Orientation</th>

                    <th>Expiration</th>
                    <th>Birth Year</th>
                    <th>Notes</th>
                    <th>IsDamaged</th>
                    <th>IsPaper</th>
                    <th>HasMagstripe</th>
                    <th>HasBarcode</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#id of ids">
                    <td>{{ id.idNumber }}</td>
                    <td>{{ id.state }}</td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>