<div class="row">
    <div class="page-header">
        <h1>{{pageTitle}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th>ID Number</th>
                    <th>State</th>
                    <th>Version</th>
                    <th>Orientation</th>
                    <th>Expiration</th>
                    <th>Birth Year</th>
                    <th>Notes</th>
                    <th>IsDamaged</th>
                    <th>IsPaper</th>
                    <th>HasMagstripe</th>
                    <th>HasBarcode</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#id of ids">
                    
                    <td>
                        <a [routerLink]="['IdDetail', {id: id.idNumber}]">
                            {{ id.idNumber }}  
                        </a>                        
                    </td>
                    <td>{{ id.state }}</td>
                    <td>{{ id.version }}</td>
                    <td>{{ id.orientation }}</td>
                    <td>{{ id.expiration }}</td>
                    <td>{{ id.birthYear }}</td>
                    <td>{{ id.notes }}</td>
                    <td>{{ id.isDamaged }}</td>
                    <td>{{ id.isPaper }}</td>
                    <td>{{ id.hasMagstripe }}</td>
                    <td>{{ id.hasBarcode }}</td>
                    <td>{{ id.location }}</td>
                    
                </tr>

            </tbody>
        </table>
    </div>
</div>