<div class="row">
    <div class="page-header">
        <h1>{{pageTitle}}</h1>
    </div>
</div>

<div class="row">
    <b>listFilter:</b> <input [(ngModel)]='listFilter' type="text" />
    (filters by state)
</div>


<div class="row">
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th>ID Number</th>
                    <th>State</th>
                    <th>Version</th>
                    <th>Orientation</th>
                    <th>Expiration</th>
                    <th>Birth Year</th>
                    <th>Notes</th>
                    <th>IsDamaged</th>
                    <th>IsPaper</th>
                    <th>HasMagstripe</th>
                    <th>HasBarcode</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#card of cards | cardFilter: listFilter">
                    <td>
                        <a [routerLink]="['CardDetail', {id: card.idNumber}]">
                            {{ card.idNumber }}  
                        </a>
                    </td>
                    <td>{{ card.state }}</td>
                    <td>{{ card.version }}</td>
                    <td>{{ card.orientation }}</td>
                    <td>{{ card.expiration }}</td>
                    <td>{{ card.birthYear }}</td>
                    <td>{{ card.notes }}</td>
                    <td>{{ card.isDamaged }}</td>
                    <td>{{ card.isPaper }}</td>
                    <td>{{ card.hasMagstripe }}</td>
                    <td>{{ card.hasBarcode }}</td>
                    <td>{{ card.location }}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>