<div class="row">
    <div class="page-header">
        <h1>{{pageTitle}}</h1>
    </div>
</div>

<div class="row">
    <p>
        <!--<b>stateFilter:</b> <input [(ngModel)]='stateFilter' type="text" />-->
    </p>
    <p>
        <b>Filter by Card Id:</b> <input [(ngModel)]='cardIdValues' type="text" />
    </p>
    <p>
        <b>Filter by State:</b> <input [(ngModel)]='stateValues' type="text" />
    </p>
    <p>
        <b>Filter by Location:</b> <input [(ngModel)]='locationValues' type="text" />
    </p>
</div>

<div class="row">
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th>edit</th>
                    <th>detail</th>
                    <th>Id</th>
                    <th>Card Id</th>
                    <th>State</th>
                    <!--<th>Version</th>
                    <th>Orientation</th>
                    <th>Expiration</th>
                    <th>Birth Year</th>
                    <th>Notes</th>
                    <th>IsDamaged</th>
                    <th>IsPaper</th>
                    <th>HasMagstripe</th>
                    <th>HasBarcode</th>-->
                    <th>Location</th>
                    <th>Last Changed</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#card of cards | 
                cardIdPipe: cardIdValues |
                 statePipe: stateValues |
                 locationPipe: locationValues">

                    <td>
                        <a [routerLink]="['CardEdit', {id: card.id}]">
                            edit  
                        </a>
                    </td>
                    <td>
                        <a [routerLink]="['CardDetail', {id: card.id}]">
                            detail  
                        </a>
                    </td>
                    <td>{{ card.id }} </td>
                    <td>{{ card.cardId }} </td>
                    <td>{{ card.state }}</td>
                    <!--<td>{{ card.version }}</td>
                    <td>{{ card.orientation }}</td>
                    <td>{{ card.expiration }}</td>
                    <td>{{ card.birthYear }}</td>
                    <td>{{ card.notes }}</td>
                    <td>{{ card.isDamaged }}</td>
                    <td>{{ card.isPaper }}</td>
                    <td>{{ card.hasMagstripe }}</td>
                    <td>{{ card.hasBarcode }}</td>-->
                    <td>{{ card.location }}</td>
                    <td>{{ card.displayLastChanged }}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>