<div class="row">
    <div class="page-header">
        <h1>{{pageTitle}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr>
                   
                    <th>Id</th>
                    <th>
                        Id Number
                        <br>
                        <input class="input-medium" [(ngModel)]='idNumberValues' type="text" />
                    </th>
                    <th>State
                        <br>
                        <input class="input-short" [(ngModel)]='stateValues' type="text" />
                    </th>
                    <th>Version</th>
                    <th>Orientation</th>
                    <th>Expiration</th>
                    <th>Birth Year</th>
                    <th>Notes</th>
                    <th>IsDamaged</th>
                    <th>IsPaper</th>
                    <th>HasMagstripe</th>
                    <th>HasBarcode</th>
                    <th>Location
                        <br>
                        <input class="input-short" [(ngModel)]='locationValues' type="text" />
                    </th>
                    <th>Last Changed</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="#card of cards |
                idNumberPipe: idNumberValues |
                 statePipe: stateValues |
                 locationPipe: locationValues">

                    <td>{{ card.id }} </td>

                    <td>
                        <a [routerLink]="['CardEdit', {id: card.id}]">
                             {{ card.idNumber }}
                        </a>
                    </td>
                    <td>{{ card.state }}</td>
                    <td>{{ card.version }}</td>
                    <td>{{ card.orientation }}</td>
                    <td>{{ card.expiration }}</td>
                    <td>{{ card.birthYear }}</td>
                    <td>{{ card.notes }}</td>
                    <td>{{ card.isDamaged }}</td>
                    <td>{{ card.isPaper }}</td>
                    <td>{{ card.hasMagstripe }}</td>
                    <td>{{ card.hasBarcode }}</td>
                    <td>{{ card.location }}</td>
                    <td>{{ card.displayLastChanged }}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>